
.navbar {
    display: flex;
    background-color: rgb(152, 214, 231);
    height: 74px;
}

.logo {
    margin-left: 3rem;
    margin-top: -2rem;
}

.nav-right{
    margin-right: 3rem;
    margin-top: -2.3rem;
}